default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: template_rails_development

test:
  <<: *default
  database: template_rails_test

production:
  <<: *default
  database: template_rails_production
