default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: sakura_lesson_development

test:
  <<: *default
  database: sakura_lesson_test

production:
  <<: *default
  database: sakura_lesson_production
